.header {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin: auto;
  margin-top: 4rem;
  align-items: center;
}

h1 {
  color: white;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}

button {
  background: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}


