*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("assets/images/bg-desktop-light.jpg") no-repeat center top;
  font-family: josefin sans, sans-serif;
  min-height: 100vh;
}

body.dark-mode {
  background-image: url(assets/images/bg-desktop-dark.jpg);
  background-color: black;
}

li.done {
  text-decoration: line-through;
}

.circle.done {
  background: url(assets/images/icon-check.svg) no-repeat center center, linear-gradient(to right bottom, lightsteelblue, steelblue);
}
